resource <%= @id %> {
  protocol C;
  device minor <%= @device_minor %>;
  meta-disk internal;

  <% @on.each do |host, settings| %>
  on <%= host %> {
    address <%= settings['address'] %>:<%= settings['port'] %>;
    disk <%= settings['disk'] %>;
  }
  <% end %>
}
