# gitlab-drbd configuration file, managed by Chef.
# Local edits will be reverted!
#

# gitlab-drbd will mount/unmount a DRBD resource
# Example: readonly drbd_resource='gitlab_data'
readonly drbd_resource='<%= @drbd_resource %>'

# We need to specify a mountpoint for the DRBD resource
# Example: readonly drbd_mountpoint='/var/opt/gitlab'
readonly drbd_mountpoint='<%= @drbd_mountpoint %>'

# Because unmounting the production filesystem sometimes fails due to incoming
# SSH connections, we retry unmounting a few times.
# Example readonly unmount_retries=10
readonly unmount_retries='<%= @unmount_retries %>'

# When becoming master, gitlab-drbd will try to acquire a secondary IP address
# Example: readonly floating_ip_address='192.168.0.3'
readonly floating_ip_address='<%= @floating_ip_address %>'

# We must specify a netmask for the IP address
# Example: readonly floating_ip_netmask='25'
readonly floating_ip_netmask='<%= @floating_ip_netmask %>'

# The IP will be associated with a network device
# Example: readonly floating_ip_device='eth0'
readonly floating_ip_device='<%= @floating_ip_device %>'
